.page-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "header header "
    "sidebar main";
    min-height: 100vh;
}

.page-header {
    grid-area: header;
    border-bottom: 1px solid rgb(201, 201, 201);
}
.page-aside {
    grid-area: sidebar;
    border-right: 1px solid rgb(201, 201, 201);
    height: 100%;
    background: var(--main-color)
}
.page-main {
    padding: 1rem;
    grid-area: main;
}