.form-input {
  margin-bottom: 0.5rem;
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: center;
}

input {
  border: 1px solid #bababa;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.is-validated input:invalid {
  border-color: var(--error-color);
}

.is-validated .error-message {
  color: var(--error-color);
}
